<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="img/favico.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<ul>
    <li><img class="logo" src="img/navbarLogo.png" alt="Etterem"></li>
    <li><a class="b"  href="/index">Main Page</a></li>
    <li><a class="b" href="/profil">Profile</a></li>
    <li><a class="b" href="/register">Register</a></li>
    <li><a class="b" href="/login">Login</a></li>
    <li style="float:right"><a class="kosar" href="kosar.html"><i class="fa fa-shopping-basket" style=" color:white"></i></a></li>
</ul>

<form action="index.html" method="post">
    <div class="container">
        <h1>Login</h1>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        <hr>

        <button type="submit" class="registerbtn">Login</button>
    </div>
</form>

</body>
</html>